# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


build
build_cpu
site
.cache
.vscode
output
log
compile_commands.json
.clangd
tags

.agents
.codex

rundata/input_configs/*.json
rundata/initial_conditions/spatial/*.nc
rundata/initial_conditions/spatial/*.ctl
rundata/initial_conditions/profiles/*.txt
__pycache__
*.ipynb
